* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI';
    overflow: hidden;
}

/* ------------------------ Screen Base --------------------- */
.Left-Panel {
    background-image: url('../appImages/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #64C5EB;
    float: left;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
}

.Right-Panel {
    background-color: #FFFFFF;
    float: left;
    overflow: hidden;
    width: 50%;
    height: 100vh;
}

.overlay {
    background-color: rgba(100,197,235,0.8);
    width: 100%;
    position: relative;
    height: 100%;
}

.Border-Line, .Border-Line2 {
    background-color: #4B4B4B;
    width: 100%;
    height: 1%;
}

.Border-Line2 {
    position: absolute;
    bottom: 0;
}

.Grid-Container {
    height: 27%;
    display: grid;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 8%;
    margin: auto;
    max-width: 32vw;
    min-width: 32vw;
    font-size: 1vw;
    grid-template-areas: 'Logo LeftText';
}

.LeftText h1 {
    margin: 0 auto;
    padding: 0;
    font-weight: 600;
    color: white;
}

p {
    font-size: 1.2vw;
    color: white;
    margin: 0.5vw 0 0.5vw 0;
}

#UOKhead {
    font-size: 1.7vw;
}

#UOKtext {
    margin-top: -4%;
    font-size: 2.65vw;
}

#ErrorMsg {
    color: #4B4B4B;
    font-size: 1.05vw;
    position: fixed;
}

.Logo {
    grid-area: Logo;
    text-align: right;
    vertical-align: middle;
}

.LeftText {
    grid-area: LeftText;
    text-align: center;
    margin: 0 auto;
    width: 22vw;
    margin-left: 8%;
}

.line {
    width: 100%;
    border-bottom: 0.15vw solid #fff;
    margin: 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #FCFCFC;
    margin: 0 auto;
    border: 1px solid #A9A9A9;
    width: 60vw;
    height: 28vw;
    margin-top: 5vw;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    margin-right: 1vw;
    font-size: 2.2vw;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

#div1 h1, #div2 h1, #div3 h1, #div4 h1 {
    color: #4B4B4B;
    font-size: 1.8vw;
    text-align: center;
    font-weight: 600;
    margin-left: 2vw;
}

#div1 p, #div2 p, #div3 p, #div4 p, #div3 label {
    text-align: center;
    color: #4b4b4b;
    font-size: 1.1vw;
}

#div1, #div2, #div3 {
    text-align: center;
    padding-top: 2vw;
}

#div2, #div3 {
    padding-top: 3.5vw;
}

#div4 {
    padding-top: 11vw;
}

#div3 h1 {
    margin-left: 0;
}

#div3 { padding-top: 2vw; }

#email, #code, #pass1, #pass2 {
    width: 25vw;
    height: 2.8vw;
    max-height: 2.8vw;
    border: 0.1vw solid #a9a9a9;
    background-color: #fff;
    outline: none;
    font-family: 'Segoe UI';
    font-size: 1.2vw;
    color: #4B4B4B;
    padding-left: 0.8vw;
    margin: 0;
    margin-top: 1.5vw;
}

#pass1 {
    margin-top: 0;
}

#pass2 {
    margin-top: 0.8vw; margin-right: 0.2vw;
}

#Next1, #Next2, #resend, #confirmpass {
    width: 25vw;
    height: 2.8vw;
    border: none;
    outline: none;
    font-family: 'Segoe UI';
    background-color: #64C5EB;
    font-size: 1.2vw;
    margin-top: 0.8vw;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
}

#confirmpass {
    margin-left: 11.15vw;
}

#resend {
    background-color: #4b4b4b;
    width: 16.2vw;
}

    #resend:hover {
        background-color: #6b6b6b;
    }

#Next2 {
    margin-left: 0.4vw;
    width: 8vw;
}

    #Next1:hover, #Next2:hover, #confirmpass:hover {
        background-color: #1D8AB5;
    }

#DDSelectUser {
    height: 2.8vw;
    font-size: 1.2vw;
    color: #4B4B4B;
    border: 0.1vw solid #a9a9a9;
    outline: none;
    cursor: pointer;
    padding-left: 0.8vw;
    background-color: #fff;
    margin-top: 0.8vw;
    width: 25vw;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background: url('../appImages/arrow.png');
    background-repeat: no-repeat;
    background-size: 1.2vw 1vw;
    background-position: right 0.4vw center;
}
