* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI';
    overflow: hidden;
}

.container {
    float: left;
    width: 85%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#TopMsg {
    font-size: 1.2vw;
    color: #4B4B4B;
    text-align: center;
    margin: 0;
}

#stdAttTable {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 2vw;
    font-family: Calibri;
    font-size: 1.2vw;
    border: 0.1vw solid #cccccc;
}

.bigcell {
    width: 35%;
    background-color: #D1E8F1;
    border-bottom: 0.1vw solid #cccccc;
    padding: 0.5vw;
}
.smallcell {
    width: 15%;
    background-color: #D1E8F1;
    border-bottom: 0.1vw solid #cccccc;
    padding: 0.5vw;
}

.backcell {
    padding: 0.5vw;
}

.head { 
    font-weight: 600;
    color: black;
}

.headingtop {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
    border-bottom: 0.1vw solid #a9a9a9;
    padding: 0;
}

    .headingtop h1 {
        font-size: 1.5vw;
        text-align: center;
        margin: 0 auto;
        padding: 0.2vw;
        font-family: Calibri;
        font-weight: 600;
        background-color: #1D8AB5;
        width: 60%;
        height: 100%;
    }

